<%= link_to 'New restaurant', new_restaurant_path %>

<table>
  <tr>
    <th>Genre:</th>
    <th>Rating:</th>
    <th>Accept 10 bis?</th>
    <th>Address:</th>
    <th>Delivery time:</th>
    <th>Name:</th>
  </tr>

  <% @rests.each do |rest| %>
      <tr>
        <td><%= rest.name %></td>
        <td><%= rest.genre %></td>
        <td><%= rest.rating %></td>
        <td><%= rest.accept_10bis %></td>
        <td><%= rest.address %></td>
        <td><%= rest.delivery_time %></td>
        <td><%= link_to 'Show', restaurant_path(rest) %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(rest) %></td>
        <td><%= link_to 'Destroy', restaurant_path(rest),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>